@font-face {
  font-family: ITC;
  src: url(/fonts/ITC-Handel-Gothic-Arabic-W23.ttf);
  font-weight: normal;
}

@font-face {
  font-family: ITC-Bold;
  src: url(/fonts/ITC-Handel-Gothic-Arabic-Bold.ttf);
  font-weight: bold;
}

html,
body {
  background-color: #f5f5f5;
}

.cardPageContainer {
  display: flex;
  justify-content: center;
}

.currentProgressCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  max-width: 630px;
  max-height: 316px;
  flex-grow: 1;
}

.currentProgressCardTitle {
  grid-area: 1 / 1 / 2 / 6;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: ITC-Bold !important;
  padding-right: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.currentProgressCardTitle p {
  font-family: ITC;
  margin-right: 0.5rem;
}

.currentProgressCardSelect {
  margin-left: 4rem;
}

.currentProgressCardTitle select {
  font-family: 'ITC-Bold';
  padding-bottom: 4px;
  font-size: 10px;
  height: 22px;
  width: 72px;
  color: #7E7E7E;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #7E7E7E;
}

.currentProgressChart {
  grid-area: 2 / 1 / 6 / 6;
  width: 95%;
  margin-right: auto;
  margin-left: 10px;
  padding-top: 0.5rem;
}
